.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.photo-card {
    border: 1px solid brown;
    border-radius: 4px;

    transition: scale, 250ms;
    
    &:hover,
    &:focus {
        scale: 1.02;
    }
}

.info {
    display: flex;
    justify-content: space-around;
}

.info-item {
    text-align: center;
}